/*Apply All & Common Design*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.common-button {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding: 15px 35px;
}

.text-primary {
    color: #FD6E0A;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.common-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

#common-section {
    margin: 200px 150px;
    padding: 100px 300px 150px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
}

/*Header Section*/
#header {
    background: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

/* Nav Section */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.nav>ul {
    display: flex;
    align-items: center;
}

.nav li {
    list-style: none;
    margin-right: 50px;
}

.nav li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* Banner Section */
.banner {
    padding: 30px 30px 0 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 0px;
}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner-content .common-button {
    margin-right: 24px;
}

.banner .profile-pic {
    width: 500px;
}

/* Main Section */

/* About Section */
.about-section{
    background: #FFF8F3!important;
}
.about-details-container {
    display: flex;
    justify-content: space-around;
}

.details-title {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
}

.details-description {
    color: #474747;
    font-size: 15px;
    font-weight: 700;
}
.box-layout{
    display: flex;
    justify-content: space-around;
    /* gap: 60px; */
}
.single-box{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 50px;
}

/* Resume Section */
.resume-container{
    display: flex;
    justify-content: space-between;
}

/* Footer Section */
#footer{
    width: 1600px;
height: 780px;
background: #FFF8F3;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}