/* All & Common Style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;

}

.container {
    width: 100%;
    max-width: 1370px;
    margin: 0 auto;
}

.common-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    font-size: 17px;
    font-weight: 700;
    border: none;
    padding: 16px 30px;
}

.common-heading {
    color: #181818;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

/* Header Section */
#header {
    background: #FFF8F3;
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
}

#header .header-section {
    padding-top: 42px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav .nav-logo h2 {
    color: #181818;
    font-size: 38px;
    font-weight: 800;
}

.nav .nav-logo h2 span {
    color: #FD6E0A;
}

.nav .nav-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .nav-list ul>li {
    list-style: none;
    padding-right: 43px;
}

.nav .nav-list ul>li>a {
    color: #474747;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
}

.banner {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-content * {
    margin-bottom: 22px;
    margin-right: 20px;
}

.banner .banner-content .banner-intro {
    color: #474747;
    font-size: 38px;
    font-weight: 600;
}

.banner .banner-content h1 {
    color: #181818;
    font-size: 72px;
    font-weight: 700;
}

.banner .banner-content .banner-description {
    width: 100%;
    max-width: 497px;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px
}

.banner-img img {
    width: 100%;
    max-width: 496px;
}

/* About Section */

#about {
    margin-top: 110px;
}

#about .about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 111px 0;
    border-radius: 10px;
    background: #FFF8F3;
    text-align: center;
}

.about-content>p {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    max-width: 703px;
    margin: 25px 0;
}

.about-content .about-details {
    display: flex;
}

.about-content .about-details p {
    color: #757575;
    font-size: 17px;
    font-weight: 400;
    line-height: 25px;
    margin-right: 42px;
}

.about-content .about-details p span {
    color: #474747;
    font-weight: 700;
}

/* What I Do */
#what-I-do .what-I-do-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 0;
    border-radius: 10px;
    text-align: center;
}

.what-I-do-content>p {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    width: 100%;
    max-width: 773px;
    margin: 25px 0 42px 0;
}

.what-I-do-content .what-I-do-box {
    display: flex;
    text-align: left;
}

.what-I-do-content .what-I-do-box .box-card {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    width: 227px;
    height: 320px;
    padding: 25px 28px;
    margin-right: 20px;
}

.what-I-do-content .what-I-do-box .box-card img {
    width: 37px;
    height: 37px;
}

.what-I-do-content .what-I-do-box .box-card .tac {
    text-align: center;
}

.what-I-do-content .what-I-do-box .box-card h4 {
    color: #181818;
    font-size: 17px;
    font-weight: 700;
    margin: 25px 0 17px 0;
}

.what-I-do-content .what-I-do-box .box-card p {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 170px;
}

/* Resume Section */
.resume-section {
    padding-bottom: 96px;
    text-align: center;
}

.resume-content {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 17px;
}

.resume-content .education-qualification .education-details,
.resume-content .experience-qualification .experience-details {
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: 25px;
}

.resume-content .education-qualification h3,
.resume-content .experience-qualification h3 {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin: 96px 0 25px;
}

.resume-content .education-qualification .education-details h4,
.resume-content .experience-qualification .experience-details h4 {
    color: #474747;
    font-size: 21px;
    font-weight: 700;
}

.resume-content .education-qualification .education-details .education-institute,
.resume-content .experience-qualification .experience-details .company-name {
    color: #757575;
    font-size: 17px;
    font-weight: 600;
    margin: 9px 0 17px;
}

.resume-content .education-qualification .education-details .education-description,
.resume-content .experience-qualification .experience-details .experience-description {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
    max-width: 434px;
    margin-bottom: 25px;
}

/* Footer Section */
#foots {
    background: #FFF8F3;
}

.foot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 110px 0;
}
.foot-container *{
    margin-bottom: 25px;
}

.foot-container p {
    color: #474747;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    max-width: 478px;
}
.foot-container .icon i{
    color: #FD6E0A;
    margin-right: 20px;
}

/* Responsive */

/* Small Device */
@media screen and (max-width: 576px) {

    /* All & Common Style */
    body {
        max-width: 1370px;
    }


    .container {
        max-width: 576px;
    }

    .common-btn {
        background: blueviolet;
        font-size: 7px;
        padding: 7px 13px;
    }

    .common-heading {
        font-size: 13px;
    }

    /* Header Section */
    #header {
        background: rgb(137 43 226 / 19%);
        background-image: none;
    }

    #header .header-section {
        padding-top: 18px;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav .nav-logo h2 {
        font-size: 16px;
        word-spacing: 5px;
    }

    .nav .nav-logo h2 span {
        color: blueviolet;
    }


    .nav .nav-list ul>li {
        padding-right: 18px;
    }

    .nav .nav-list ul>li>a {
        font-size: 7px;
    }


    .banner {
        margin-top: 17px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-img img {
        max-width: 210px;
    }

    .banner .banner-content {
        text-align: center;
    }

    .banner .banner-content * {
        margin-bottom: 10px;
        margin-right: 12px;
    }

    .banner .banner-content .banner-intro {
        font-size: 16px;
    }

    .banner .banner-content h1 {
        font-size: 30px;
    }

    .banner .banner-content .banner-description {
        max-width: 210px;
        font-size: 6px;
        line-height: 10px
    }

    /* About Section */
    #about {
        margin-top: 47px;
    }

    #about .about-content {
        padding: 48px 0;
        background: rgb(137 43 226 / 19%);
    }

    .about-content>p {
        font-size: 6px;
        line-height: 11px;
        max-width: 298px;
        margin: 11px 0;
    }

    .about-content .about-details p {
        font-size: 7px;
        line-height: 11px;
        margin-right: 18px;
    }

    /*What I Do */
    #what-I-do .what-I-do-content {
        padding: 47px 0;
    }

    .what-I-do-content>p {
        font-size: 6px;
        line-height: 11px;
        max-width: 327px;
        margin: 10px 0 18px 0;
    }

    .what-I-do-content .what-I-do-box {
        width: 100%;
        max-width: 576px;
    }

    .what-I-do-content .what-I-do-box .box-card {
        width: 96px;
        height: 135px;
        padding: 11px 12px;
        margin-right: 9px;
    }

    .what-I-do-content .what-I-do-box .box-card img {
        width: 16px;
        height: 16px;
    }

    .what-I-do-content .what-I-do-box .box-card h4 {
        font-size: 7px;
        margin: 11px 0 7px 0;
    }

    .what-I-do-content .what-I-do-box .box-card p {
        font-size: 6px;
        line-height: 10px;
        max-width: 72px;
    }

    /* Resume Section */
    .resume-section {
        padding-bottom: 41px;
    }

    .resume-content {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .resume-content .education-qualification .education-details,
    .resume-content .experience-qualification .experience-details {
        margin-bottom: 11px;
    }

    .resume-content .education-qualification h3,
    .resume-content .experience-qualification h3 {
        font-size: 11px;
        margin: 41px 0 11px;
    }

    .resume-content .education-qualification .education-details h4,
    .resume-content .experience-qualification .experience-details h4 {
        font-size: 9px;
    }

    .resume-content .education-qualification .education-details .education-institute,
    .resume-content .experience-qualification .experience-details .company-name {
        font-size: 7px;
        margin: 4px 0 7px;
    }

    .resume-content .education-qualification .education-details .education-description,
    .resume-content .experience-qualification .experience-details .experience-description {
        font-size: 6px;
        line-height: 10px;
        max-width: 184px;
        margin-bottom: 11px;
    }

    /* Footer Section */

    #foots {
        background: rgb(137 43 226 / 19%);
    }

    .foot-container {
        padding: 47px 0;
    }

    .foot-container *{
        margin-bottom: 11px;
    }

    .foot-container p {
        font-size: 6px;
        line-height: 10px;
        max-width: 202px;
    }
    .foot-container .icon i{
        color: blueviolet;
        margin-right: 9px;
    }
}


/* Medium Device */
@media screen and (min-width: 576px) and (max-width:992px) {

    /* All & Common Style */
    body {
        max-width: 1370px;
    }


    .container {
        max-width: 992 px;
    }

    .common-btn {
        background: blueviolet;
        font-size: 12px;
        padding: 12px 22px;
    }

    .common-heading {
        font-size: 22px;
    }

    /* Header Section */
    #header {
        background: rgb(137 43 226 / 19%);
        background-image: none;
    }

    #header .header-section {
        padding-top: 31px;
    }

    .nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav .nav-logo h2 {
        font-size: 28px;
        word-spacing: 5px;
    }

    .nav .nav-logo h2 span {
        color: blueviolet;
    }


    .nav .nav-list ul>li {
        padding-right: 32px;
    }

    .nav .nav-list ul>li>a {
        font-size: 12px;
    }


    .banner {
        margin-top: 29px;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-img img {
        max-width: 362px;
    }

    .banner .banner-content {
        text-align: center;
    }

    .banner .banner-content * {
        margin-bottom: 16px;
        margin-right: 18px;
    }

    .banner .banner-content .banner-intro {
        font-size: 28px;
    }

    .banner .banner-content h1 {
        font-size: 53px;
    }

    .banner .banner-content .banner-description {
        max-width: 362px;
        font-size: 12px;
        line-height: 19px
    }

    /* About Section */
    #about {
        margin-top: 81px;
    }

    #about .about-content {
        padding: 82px 0;
        background: rgb(137 43 226 / 19%);
    }

    .about-content>p {
        font-size: 12px;
        line-height: 19px;
        max-width: 513px;
        margin: 19px 0;
    }

    .about-content .about-details p {
        font-size: 12px;
        line-height: 19px;
        margin-right: 31px;
    }

    /*What I Do */
    #what-I-do .what-I-do-content {
        padding: 81px 0;
    }

    .what-I-do-content>p {
        font-size: 12px;
        line-height: 19px;
        max-width: 564px;
        margin: 19px 0 31px 0;
    }

    .what-I-do-content .what-I-do-box {
        width: 100%;
        max-width: 992px;
    }

    .what-I-do-content .what-I-do-box .box-card {
        width: 166px;
        height: 234px;
        padding: 19px 20px;
        margin-right: 15px;
    }

    .what-I-do-content .what-I-do-box .box-card img {
        width: 27px;
        height: 27px;
    }

    .what-I-do-content .what-I-do-box .box-card h4 {
        font-size: 12px;
        margin: 19px 0 12px 0;
    }

    .what-I-do-content .what-I-do-box .box-card p {
        font-size: 10px;
        line-height: 17px;
        max-width: 125px;
    }

    /* Resume Section */
    .resume-section {
        padding-bottom: 81px;
    }

    .resume-content {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .resume-content .education-qualification .education-details,
    .resume-content .experience-qualification .experience-details {
        margin-bottom: 19px;
    }

    .resume-content .education-qualification h3,
    .resume-content .experience-qualification h3 {
        font-size: 19px;
        margin: 70px 0 19px;
    }

    .resume-content .education-qualification .education-details h4,
    .resume-content .experience-qualification .experience-details h4 {
        font-size: 15px;
    }

    .resume-content .education-qualification .education-details .education-institute,
    .resume-content .experience-qualification .experience-details .company-name {
        font-size: 12px;
        margin: 6px 0 12px;
    }

    .resume-content .education-qualification .education-details .education-description,
    .resume-content .experience-qualification .experience-details .experience-description {
        font-size: 10px;
        line-height: 17px;
        max-width: 317px;
        margin-bottom: 19px;
    }
        /* Footer Section */

        #foots {
            background: rgb(137 43 226 / 19%);
        }
    
        .foot-container {
            padding: 81px 0;
        }
    
        .foot-container *{
            margin-bottom: 19px;
        }
    
        .foot-container p {
            font-size: 10px;
            line-height: 17px;
            max-width: 348px;
        }
        .foot-container .icon i{
            color: blueviolet;
            margin-right: 15px;
        }

}